body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  background-color: black;
}

.custom-button {
  transition: all 0.2s ease;
  background:#f5e1cb;
  border:0;
  font-weight: bold;
  font-size: 16px;
  margin: 4rem auto;
  display: block;
  border-radius: 25px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  padding: 4px;
  cursor: pointer;
  min-width: 200px;
  animation-name: button;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.custom-button:hover {
  background: linear-gradient(165deg, rgba(255, 204, 0, 1) 0%, rgba(255, 135, 0, 1) 50%, rgba(255, 135, 0, 1) 95%, #f5e1cb 100%);
}


.btn-text {
  color: #333;
  font-size: 1rem;
  line-height: 1.2rem;
  opacity: 1;
  animation-name: button-text;
  animation-duration: 0.75s;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}

.btn-text:hover {
  background: linear-gradient(165deg, rgba(255, 204, 0, 1) 0%, rgba(255, 135, 0, 1) 50%, rgba(255, 135, 0, 1) 95%, #f5e1cb 100%);
}

button:before,
button:after,
button span:before,
button span:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
}

button:before {
/*   box-shadow: -10px -8px 20px #fff; */
  animation-name: button-before;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

button:after {
/*   box-shadow: 10px 8px 20px #9496B0; */
  animation-name: button-after;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.btn-inner {
  max-width: 250px;
  position: relative;
  background: #f5aa7f;
/*   background: linear-gradient(165deg, rgba(255,255,255,1) 0%, rgba(210,213,216,1) 50%, rgba(210,213,216,1) 95%, rgba(148,150,176,1) 100%); */
  padding: 1rem 4rem;
  display: block;
  border-radius: 25px;
  position: relative;
  animation-name: button-inner;
  animation-duration: 0.75s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.btn-inner:hover {
  background: linear-gradient(165deg, rgba(255, 204, 0, 1) 0%, rgba(255, 135, 0, 1) 50%, rgba(255, 135, 0, 1) 95%, #f5e1cb 100%);
}

button.active .btn-text {
  font-size: 0.95rem;
}

button.active .btn-inner:before {
   box-shadow: 4px 4px 10px inset #f5aa7f;
  -webkit-box-shadow: 4px 4px 10px inset #f5aa7f;
}

button.active .btn-inner:after {
  box-shadow: -4px -4px 10px inset #f5aa7f;
  -webkit-box-shadow: -4px -4px 10px inset #f5aa7f;
}

@keyframes button-before {
  from {box-shadow: 0 0 0 #f5aa7f;}
  to {box-shadow: -10px -8px 20px #f5aa7f;}
}

@keyframes button-after {
  from {box-shadow: 0 0 0 #f5aa7f;}
  to {box-shadow: 10px 8px 20px #f5aa7f;}
}

@keyframes button-inner {
  from {background: #f5e1cb;}
  to {background: linear-gradient(165deg, rgba(255, 255, 255, 1) 0%, rgba(255, 230, 179, 1) 50%, rgba(255, 255, 255, 1) 95%, #f5e1cb 100%);
  }
}

@keyframes button {
  from {background: #f5e1cb;}
  to {background: linear-gradient(165deg, rgba(255,255,255,1) 10%, #f5e1cb 100%);}
}

@keyframes button-text {
  from {opacity: 0;}
  to {opacity: 1;}
}


